.navbar{
    display: flex;
    flex-direction: row;

}

.navbarItem{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
}

