
.nav {
    padding: 10px;
    display: flex;
    align-items: center;
}


.navItem {
    text-decoration: none;
    color: orange;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;

    text-transform: uppercase;
}

a:hover {
    color: bisque;
    border-bottom: 2px solid bisque;
}

.cart {
    position: relative;
    border-right: 1px solid white;
    padding-right: 10px;
    height: 50px;
    left: 10px;
}

.cartImg {
    position: absolute;
    top: 20px;
    right: 10px;
}

.phone {
    display: flex;
    flex-direction: column;
    margin: 0 30px;

}

.number {
}

.num {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.phoneImg {
    margin-right: 10px;
}

.phoneText {
    color: orange;
    font-size: 14px;
    font-weight: 400;
}

.btn {
    margin-left: 40px;
}

.button {
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    border-radius: 10px;

}

.phoneHolder {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

}

.auth {
    display: flex;
}

.authBtn{
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    border-radius: 10px;
}

.authBtn:hover {
    color: bisque;
    border-bottom: 2px solid bisque;
}

.login{
    margin-left: 10px;
}


.registration{
    margin: 0 10px;
}

