

.header {
    height: 100vh;
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.headerLine{
    padding-top: 50px;
    display: flex;
    align-items: center;
justify-content: space-around;
}

.headerLogo{
    height: 60px;
    width: 60px;
}
.container{
    margin: 0 166px;
}


